<header>
	<div class="overlay"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
	  <source src="https://static.videezy.com/system/resources/preview3s/000/008/995/original/health_word_formed_with_pills.webm"
		type="video/mp4">
	</video>
	<div class="container h-100">
	  <div class="d-flex text-center h-100">
		<div class="my-auto w-100 text-white">
		  <h1 class="display-3"> A better health benefit for your people </h1>
		  <h2> provide cost-efficient, quality healthcare with HelloDoc. </h2>
		  <div class="button-row">
			<a routerLink="/register"><button mat-raised-button color="warn">Register</button></a>
			<a routerLink="/login"><button mat-raised-button color="warn">Log In</button></a>
		  </div>
		</div>
	  </div>
	</div>
  </header>
  
  <section class="my-5">
	<div class="container">
	  <div class="row">
		<div class="col-md-8 mx-auto">
		  <h5>Save money for your business.</h5>
		  <p>
			Being able to access great healthcare from the office, home, or abroad makes for a happier, healthier workforce.
		  </p>
		  <h5>Comprehensive and connected healthcare.</h5>
		  <p>24/7 online GP & pharmacist consults provide expert advice and medical certificates.</p>
		  <p>Prescriptions (cashless or paid) are fulfilled by Guardian in stores islandwide.</p>
		  <p>Yearly health screenings show individuals their health status.</p>
		  <h5>More than just online consults</h5>
		  <p></p>
  
		</div>
	  </div>
	</div>
  </section>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>HelloDoc</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Patients</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Employees</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Job Vacancies</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Insuarances</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Laboratories</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>About</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About Us</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>News</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blog</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Service</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Help</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Help Centre</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms and Conditions</a></li>
          <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Our Web</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Copyright CallDoc Pvt. Ltd.</p>
      </div>

    </div>
  </div>
</section>
<!-- ./Footer -->

  