<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome to HelloDoc!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home
                  <span class="sr-only">(current)</span>
              </a>
          </li>
        
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User Page</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register2']" routerLinkActive="active">Doctor Register</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register3']" routerLinkActive="active">Patient Register</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/registerm']" routerLinkActive="active"> MLT Register</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/searchp']" routerLinkActive="active">View Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/applist']" routerLinkActive="active">Appoinment List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/message']" routerLinkActive="active">Direct message</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/calender']" routerLinkActive="active">Shedule</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/patientprofile']" routerLinkActive="active">Patient Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/basicinfo']" routerLinkActive="active">Basic Info</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/currentstate']" routerLinkActive="active">Current State</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/lab']" routerLinkActive="active">Lab Reports</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/prescription']" routerLinkActive="active">Prescription</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/payment']" routerLinkActive="active">Payment</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/mbasic']" routerLinkActive="active">MLT Basic Info</a>
                                        </li>
                    
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/searchm']" routerLinkActive="active">MLT Search</a>
                                        </li>

                                                                             <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/rectest']" routerLinkActive="active">Reccommanded Test</a>
                                        </li>
                    
                
                                     
      </ul>
  </div>
</nav>


<!--<div class="continer-fluid">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <router-outlet></router-outlet>
      </div>
  </div>
</div> -->
<router-outlet></router-outlet>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

       